/FoodRecSVD/nbproject/private/
/FoodRecSVD/build/
/analyse_words/nbproject/private/
/analyse_words/build/
/FoodRecSVDTrain/nbproject/private/
/FoodRecSVDTrain/build/
/RaterParser/nbproject/private/
/RaterParser/build/